body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #ffb84d;
}

section {
    padding: 20px;
}

section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    font-size: 18px;
    padding: 5px;
}

/* Stil za filmove, serije i glumce */
.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(0.90);
}

/* Slike */
.card-image  {
    width: 40%;
    height: 300px;
    object-fit: fill;
}

